<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <title>Часто задаваемые вопросы</title>

</head>
<body>

 <header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
          <span class="fs-4">    Автосалон Tesla в РБ</span>
      </a>
      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="p-3 mb-0 bg-secondary text-white border bg-success" href="\models\">Модельный ряд</a>
        <a class="p-3 mb-0 bg-secondary text-white border bg-success" href="\service\">Сервис</a>
        <a class="p-3 mb-0 bg-secondary text-white border bg-success" href="\faq\">FAQ</a>
        <a class="p-3 mb-0 bg-secondary text-white border bg-success" href="\contacts\">Контакты</a>
      </nav>
    </div>
 </header>

    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-3 fw-normal">Часто задаваемые вопросы</h1>
    </div>
 <div class="mx-auto" style="width: 1000px;">
 <h6>Есть ли в Беларуси официальный дилер Tesla?</h6>

 <p>У Tesla нет понятия дилерства - производитель сам продает свои автомобили непосредственно через сайт Tesla. Также в Беларуси нет официального представительства Tesla.Мы являемся первым оператором марки, который занимается поиском, покупкой и доставкой автомобилей Tesla с европейского и американского рынков
 <h6>Есть ли гарантия на новые автомобили Tesla в Беларуси?</h6>
 <p>Да. Если вы покупаете у нас новый автомобиль Tesla для европейского рынка, то на него распространяется европейская гарантия - 8 лет на батарею и 4 года на сам автомобиль. Европейская гарантия не распространяется на автомобили, приобретенные и привезенные из США.</p>
 <h6>Где обслуживать по гарантии Tesla?</h6>
 <p>В Беларуси нет официального сервиса Tesla. Ближайшие официальные сервисные центры находятся в Варшаве (Польша), Хельсинки (Финляндия) или Берлине (Германия). В случае наступления гарантийного случая покупатель доставляет автомобиль на сервис за свой счет.</p>
 <h6>А как заряжать Tesla?</h6>
     <p>Европейские модели Tesla (Model 3 и Model Y) оснащаются зарядным разъемом комбинированного типа CCS Combo 2. Они способны заряжаться как от быстрых терминалов мощностью до 200 кВт, так и от бытовой сети (220 В) или промышленной розетки (380 В). В настоящее время Tesla не комплектует свои автомобили мобильным зарядным устройством для подключения к сети 220 В. Владельцы могут приобрести его отдельно. Либо заказать фирменную настенную зарядку Wall Box, которая подключается к сети 380 В и позволяет заряжаться мощностью до 11 кВт.</p></div>
 <nav class="d-flex justify-content-center">
     <a class="p-4 mb-0 bg-primary text-white border" href="\contacts\">
         <div class="badge bg-primary text-white fs-6" style="width: 25rem;">Получить дополнительную информацию</div></a></nav>


 <footer class="container py-5">
      <small class="d-block mb-3 text-center">Minsk, 2022</small>
</footer>