<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <title>Главная страница</title>

</head>
<body>

 <header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
          <span class="fs-4">    Автосалон Tesla в РБ</span>
      </a>
      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="p-3 mb-0 bg-secondary text-white border bg-success" href="\models\">Модельный ряд</a>
        <a class="p-3 mb-0 bg-secondary text-white border bg-success" href="\service\">Сервис</a>
        <a class="p-3 mb-0 bg-secondary text-white border bg-success" href="\faq\">FAQ</a>
        <a class="p-3 mb-0 bg-secondary text-white border bg-success" href="\contacts\">Контакты</a>
      </nav>
    </div>
 </header>

    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-1 fw-normal">Автомобили Tesla</h1>
      <p class="fs-5 text-dark">Здесь вы можете купить, обслужить и получить необходимую информацию о Tesla в Минске.</p>
    </div>
<figure class="figure">
  <img src="/media/img/2.jpg" class="figure-img img-fluid rounded " style="margin:0 200px 0 200px" alt="">
</figure>

<div class="pricing-header p-1 pb-md-1 mx-auto text-center">
    <a class="p-3 mb-0 bg-secondary text-white border bg-success" href="\models\">Ознакомиться с модельным рядом</a>
    <a class="p-3 mb-0 bg-secondary text-white border bg-success" href="\service\">Воспользоваться услугами сервиса</a>
    <a class="p-3 mb-0 bg-secondary text-white border bg-success" href="\faq\">Узнать часто задаваемые вопросы</a>
    <a class="p-3 mb-0 bg-secondary text-white border bg-success" href="\contacts\">Связаться с нами</a>
</div>

<footer class="container py-5">
      <small class="d-block mb-3 text-center">Minsk, 2022</small>
</footer>